/src/UdriveServer/main/CMakeFiles
/src/UdriveServer/main/database
/src/UdriveServer/main/udrive_server
/src/UdriveServer/main/cmake_install.cmake
/src/UdriveServer/main/CMakeCache.txt
/src/UdriveServer/main/Makefile
src/UdriveServer/main/dataDB/
src/UdriveServer/main/fileDB/
src/UdriveServer/main/folderDB/
src/UdriveServer/main/userDB/
documentacion/doc_proyecto/build
documentacion/doc_server/build
documentacion/doc_tecnica/build
documentacion/manual_usuario/build

